.nav-tab{
    font-weight: 300;
    font-size: 14px;
}

.nav-tab-active, 
.nav-tab-active:focus, 
.nav-tab-active:focus:active, 
.nav-tab-active:hover
{
    font-weight: 300;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFF;
}

.mailbomb-container{
    position: relative;
}

.mailbomb-nav-content-active{
    display: block;
    background-color: #FFF;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.mailbomb-nav-content{
    display: none;
    padding: 10px;
    position: relative;
    overflow: hidden;
}




.mailbomb_logo_container{
    position:relative;
    min-height: 300px;
    max-height: 300px;
    border: 1px dotted transparent;

    .mailbomb_logo_img{
        animation: plane_animation linear infinite 2s;
        -webkit-animation: plane_animation linear infinite 2s;
        z-index: 20;
    }
}


.mailbomb_logo_bomb{
    position:absolute;
    overflow: visible;
    top: 80px;
    left: 30px;
    bottom: 0;
    width: 300px;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    z-index: 10;

    .bomb_item{
        text-align: center;
        width: 20%;
        animation:  bomb_animation linear infinite 10s;
        -webkit-animation:  bomb_animation linear infinite 10s;
        position: absolute;
    }

    .bomb_item_1{
        top: 0;
        left: 0;
        font-size: 13px;
    }

    .bomb_item_2{
        left: 15%;
        font-size: 18px;
        font-weight: bold;   
    }

    .bomb_item_3{
        top: 5px;
        left: 20%;
        font-size: 26px;
        font-weight: bold;   
    }

    .bomb_item_4{
        top: -5px;
        left: 35%;
        font-size: 10px;
    }

    .bomb_item_5{
        top: 20px;
        left: 40%;
        font-size: 32px;
        font-weight: bold;      
    }
}


.mailbomb_setting_container{
    position: relative;
    overflow: hidden;
}

.mailbomb_setting_title{
    border-bottom: 1px dashed #BABABA;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}

.mailbomb_flex_container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding:0;

    .mailbomb_flex_col{
        min-width: 33.3%;
        min-height: 250px;
        margin: 0;
        padding:5px;
        text-align: center;
        box-sizing: border-box;

        .in_flex_col{
            position: relative;
            min-height: 250px;

            border: 1px solid #ccc;
        }
    }
}

.mailbomb_active_widget_stat{
    position: relative;
    text-align: left;
    padding: 5px 5px 10px 5px;
    background-color: #F2F2F2;
    border-bottom: 1px solid #ccc;
}